<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="fr.ib.test.springMvcTest.repository" level="DEBUG"/>
    <logger name="fr.ib.test.springMvcTest.configuration.DataLoader" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>
</configuration>